<div class="col s12 m4 developer-wrapper">
  <div class="contain">
    <div class="card brown lighten-5 ">
      <div class="card-image" id="developer-card">
        <span>
        <%= image_tag developer.picture, id:"developer-image" %>
      </span>

      <span class="card-totem">
        <%= image_tag(developer.specialty.image) %>
      </span>
      </div>

        <div class="card-content brown lighten-5 center">
          <div class=" mint brown-text" >
            <%= link_to "#{developer.name}'s Bio", developer_path(developer), id: "developer-bio", class: "row waves-effect waves-light btn-lg" %>
          </div id="developer-basics">
          <h4>Specialty: <%= developer.specialty.name %></h4>
          <h4>Skill rating: <%= developer.skills_rating %>, $<%= developer.rate.to_i %>/hr</h4>
          <h4>Status: <%= developer.status %></h4>
        </div>
      </div>
    </div>
  </div>
</div>