<%= render partial: "specialties/specialty_buttons" %>

<div class="row">
  <div class="col s1"><br>
  </div>

  <div class="row profile col s10 ">
    <br>

    <div class="col s5 card brown lighten-5 dev-show-card">
      <%= render partial: "/developers/developer_left_card", locals: {developer: current_developer} %>
      <div class="row">
        <span class="col s1">&nbsp;</span>
        <span class="col s4"> <%= link_to "Edit Account", edit_developer_path, style: "font-size: large"%></span>
        <span class="col s2">&nbsp;</span>
        <span class ="col s4"> <%= link_to "Deactivate Account", deactivate_account_path, style: "color: red; font-size: large" %></span>
      </div>
    </div>

    <div class="col s1">
      <br>
    </div>

    <div class="col s6 card brown lighten-5 dev-show-card">
      <%= render partial: "/developers/developer_right_card", locals: {developer: current_developer} %>
    </div>

    <div class="center">
      <span class="card-totem">
        <%= image_tag(current_developer.specialty.image) %>
      </span>
    </div>
  </div>

</div>
