<%= render partial: "specialties/specialty_buttons" %>

<div class="center">
  <h1 class="mint-shadow"><%= @developer.name %> <%= @developer.last_name %></h1>

  <div class="card-image">
    <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAZvAAAAJDFiY2JjNTc4LTQ0NDktNDcyYy05YzMxLTcyZmVmZDU3OTU5OA.jpg" id="developer-image">
  </div>

  <h3><%= @developer.specialty.name %></h3>
  <h3>Rate $<%= @developer.rate %>/hr</h3>
  <h3>Email <%= @developer.email %></h3>

  <span class="card-totem">
    <%= image_tag("database/horse_animal_totem.png") if (@developer.specialty.name == "Database")%>
    <%= image_tag("front_end/hawk_animal_totem.png") if (@developer.specialty.name == "Front End")%>
    <%= image_tag("back_end/fox_animal_totem.png") if (@developer.specialty.name == "Back End")%>
  </span>
</div>
