<div class='container form-font edit-developer'>
  <%= form_for(current_developer, url: developer_path) do |f| %>
    <%= f.label :name, "First Name" %>
    <%= f.text_field :name, value: current_developer.name, id: "form-value"  %>
    <br>
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name, value: current_developer.last_name, id: "form-value"  %>
    <br>
    <%= f.label :email %>
    <%= f.text_field :email, value: current_developer.email, id: "form-value"  %>
    <br>
    <%= select_tag "Specialties", options_from_collection_for_select(all_specialties, "id", "name"), value: current_developer.specialty.name, id: "form-value"%>
    <br>
    <%= f.label :bio %>
    <%= f.text_area :bio, :cols => "10", :rows => "10", value: current_developer.bio %>
    <br>
    <%= f.label :picture %>
    <%= f.file_field :picture %>
    <br>
    <%= f.submit "Update Developer Account", class: "form-label", id: "form-button" %>
  <% end %>
</div>
