<div class="background-wolf-cover">
  <%= render partial: "specialty_buttons" %>
  <div class="row" style="margin-top: -15px; margin-bottom: -10px;">
    <div class="col s1"><br></div>
    <div class="col s5">
      <label class="form-label" style="font-size: 2em; color: black;">Search By Name</label>
      <h5><%= text_field :developer, :filter_name %></h5>
    </div>
    <div class="col s1">
      <h1>Or</h1>
    </div>

    <div class="col s5">
      <%= form_for(:filter, url: filter_path) do |f| %>
      <%= f.select "sort",
          options_for_select("Hourly Rate: Ascending"  => "rate asc",
                             "Hourly Rate: Descending" => "rate desc",
                             "Skill Rate: Ascending"   => "skills_rating asc",
                             "Skill Rate: Descending"  => "skills_rating desc"
                                                        ), id: "sort-by"%>
      <ul id="index-tags">
        <% if @tags %>
          <% @tags.each do |tag| %>
              <li>
                <%= check_box_tag("filter_tag_id[#{tag.id}]") %>
                <%= f.label("tag_id_#{tag.id}", "#{tag.name}" )%>
              </li>
          <% end %>
        <% end %>
      </ul>
      <%= f.submit "Apply Sort", id: "filter signup-button" %>

      <% end %>
  </div>

<div class="row developer-listing">
  <% @developers.each_with_index do |developer, i| %>
    <div class="developer"
     data-name="<%= developer.name.upcase + " " + developer.last_name.upcase %>"
            id="<%= "#{i}-#{developer.id}" %>" >
      <%= render developer, locals: {developer => developer} %>
    </div>
  <% end %> 
</div>
<div style="height: 500px;"