<%= render partial: "specialties/specialty_buttons" %>

<div class="center">
  <span>
    <%= render partial: "/specialty_totem" %>
    <h1 class="mint-shadow" style="font-size: 120px;"><%= @developer.name %></h1>
  </span>
  <h1><%= add_or_already_in_tribe %></h1>

  <div class="card-image">
    <%= image_tag @developer.picture, id:"developer-image" %>
  </div>

  <h3><%= @developer.specialty.name %></h3>
  <h3><%= @developer.skills_rating %></h3>
  <h3>Rate $<%= @developer.rate %>/hr</h3>

</div>
