<div class="center">
  <h1><%= @developer.name %></h1>
  <ul>
    <div class="card-image">
      <img src="https://robohash.org/<%= @developer.id %>" style="width: 25%;">
    </div>
    <li><%= @developer.specialty.name %></li>
    <li><%= @developer.rate %></li>
  </ul>
  <%= button_to("Add to tribe", tribe_path(developer_id: @developer.id)) unless session[:tribe].include?(@developer.id) %>
  <%= "#{@developer.name} is unavailable" if session[:tribe].include?(@developer.id) %>
</div>
