<%= render partial: "specialties/specialty_buttons" %>
<<<<<<< HEAD
<div class="row" style="margin-top: -40px;">
=======

<div class="row">
>>>>>>> master
  <div class="col s1"><br>
  </div>

  <div class="row profile col s10 ">
    <br>

    <div class="col s5 card brown lighten-5 dev-show-card">
      <%= render partial: "/developers/developer_left_card", locals: {developer: @developer} %>
    </div>

    <div class="col s1">
      <br>
    </div>

    <div class="col s6 card brown lighten-5 dev-show-card">
      <span class="center" style="font-size: large;"><%= add_or_already_in_tribe %></span>
      <%= render partial: "/developers/developer_right_card", locals: {developer: @developer} %>
    </div>

    <div class="center">
      <span class="card-totem">
        <%= image_tag(@developer.specialty.image) %>
      </span>
    </div>
  </div>

</div>
