<%= render partial: "specialties/specialty_buttons" %>
<div class="row">
  <div class="col s1"><br>
  </div>

  <div class="row profile col s10 ">
    <br>
    <div class="col s5 card brown lighten-5 dev-show-card">
      <div class="center">
        <%= image_tag @developer.picture, id:"developer-image" %>
        <h3 class=" mint-shadow dev-name"><%= @developer.name + " " + @developer.last_name%></h3>
      </div>
      <ul class="dev-facts">
        <li>Specialty: <%= @developer.specialty.name %></li>
        <li>Skill rating:<%= @developer.skills_rating %></li>
        <li>Rate: $<%= @developer.rate %>/hr</li>
        <li>Email: <%= @developer.email %></li>
      </ul>
    </div>

    <div class="col s1">
      <br>
    </div>

    <div class="col s6 card brown lighten-5 dev-show-card">
      <ul class="dev-facts">
        <li>Tags:
            <% @developer.tags.each do |tag| %>
             <span class="card" id="tag-card"> <%= tag.name %> </span>
            <% end %>
        </li>
        <li>Bio: <span style="font-size: 0.7em;"><%= @developer.bio %></span></li>
      </ul>
      </div>
      <div class="center">
        <span class="card-totem">
          <%= image_tag("database/horse_animal_totem.png") if (@developer.specialty.name == "Database")%>
          <%= image_tag("front_end/hawk_animal_totem.png") if (@developer.specialty.name == "Front End")%>
          <%= image_tag("back_end/fox_animal_totem.png") if (@developer.specialty.name == "Back End")%>
        </span>
      </div>
    </div>
</div>
