<div class="center">
  <h1><%= @developer.name %></h1>
  <ul>
    <div class="card-image">
      <img src="https://robohash.org/<%= @developer.id %>" style="width: 25%;">
    </div>
    <li><%= @developer.specialty.name %></li>
    <li><%= @developer.rate %></li>
  </ul>
  <%= add_or_already_in_tribe  %>
  <%#= button_to("Add to tribe", tribe_path(developer_id: @developer.id)) unless current_pending_tribe.developer_ids.include?(@developer.id) %>
  <%#= "#{@developer.name} is unavailable" if current_pending_tribe.developer_ids.include?(@developer.id) %>
</div>
