<div class="container">
  <div class="center">
    <h3 class="row waves-effect waves-light btn-large" id="signup-button" ><%= link_to "Sign Up", sign_up_path unless current_user? %></h3>
  </div>
  
  <span id='contractor-login-form'>
    <%= form_for(:session, url: login_path) do |f| %>
      <br>
      <%= f.label :email %>
      <%= f.text_field :email, id: "form-value"%>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password, id: "form-value" %>
      <br>
      <%= f.submit "Contractor Login", class: "form-label", id: "form-button" %>
      
    <% end %>
  </span>
  <br>
</div>