  <% current_pending_tribe.developers.each do |developer| %>
    <div class="col l8 s12 m6">
      <div class="card-small tribe-row">
        <span class="card-image left">
          <img src="https://robohash.org/<%= developer.id %>">
        </span>
        <span class="card-content right" id="developer_<%=developer.name%>">
          <h3><%= developer.name %></h3>
          <h3>Specialty: <%= developer.specialty.name %></h3>
          <h3>Rate: <%= developer.rate %>$/h</h3>
          <%= link_to "#{developer.name} Bio", developer_path(developer) %>
          <%= link_to "Remove Developer",
                      tribe_path(developer_id: developer.id),
                      method: :delete %>
        </span>
        <br>
      </div>
    </div>
  <% end %>
