<div class="container">
  <div class="center">
    <h1 class="mint-shadow" style="font-size: 120px;">Current Tribe</h1>
    <hr class="gradient">    
    <h2>Review your hires, <br>then complete the form below to start the project!</h2>
    <%= render "/small_totems_row" %>
  </div>
    <%= render "/tribes/project"  %>
  
  <%= form_for([current_contractor, @project], url: contractor_projects_path) do |f| %>
    <br>
    <%= f.label :title, "Project Title" %>
    <%= f.text_field :title, id: "form-value" %>
    <br>
    <%= f.label :description, "Project Description" %>
    <%= f.text_field :description, id: "form-value" %>
    <br>

    <%= f.label :dev_hours, "Project Hours per Developer" %>
    <%= f.number_field :dev_hours, id: "form-value" %>
    <br>

    <h3><%= "Total: $#{current_pending_tribe.total}" %></h3>

    <%= f.submit "Start Project", id: "form-button"%> 

  <%end%>
</div>
