<div class="container">
  <div class="center">
    <h1 class="center mint-shadow">Current Tribe</h1>
    <div id="single-totem">
      <%= image_tag("database/horse_animal_totem.png") %>
      <%= image_tag("front_end/hawk_animal_totem.png") %>
      <%= image_tag("back_end/fox_animal_totem.png") %>
    </div>
    <h3>Review your hires, <br>then complete the form below to start the project!</h3>
  </div>

  <%= render "/tribes/project"  %>
  
  <%= form_for([current_contractor, @project], url: contractor_projects_path) do |f| %>
    <br>
    <%= f.label :title, "Project Title" %>
    <%= f.text_field :title, id: "form-value" %>
    <br>
    <%= f.label :description, "Project Description" %>
    <%= f.text_field :description, id: "form-value" %>
    <br>

    <h3><%= "Total: $#{current_pending_tribe.total}" %></h3>

    <%= f.submit "Start Project", id: "form-button"%> 

  <%end%>
</div>
