<div class="two column divided grid">
    <div class="row">
      <div class="col s1"><br></div>

      <div class='container form-font new-contractor col s4 left-side'>
      <%= form_for(@contractor, url: contractor_path) do |f| %>
        <%= f.label :company_name, "Company Name"%>
        <%= f.text_field :company_name, id: "form-value" %>
        <br>
        <%= f.label :first_name, "First Name" %>
        <%= f.text_field :first_name, id: "form-value" %>
        <br>
        <%= f.label :last_name, "Last Name" %>
        <%= f.text_field :last_name, id: "form-value" %>
        <br>
        <%= f.label :email %>
        <%= f.text_field :email, id: "form-value" %>
        <br>
        <%= f.label :password %>
        <%= f.password_field :password, id: "form-value" %>
        <br>
        <%= f.submit "Create Contractor Account", id: "form-button" %>
      <% end %>
    </div>

    <div class="col s2"><br></div>

    <div class='container form-font new-developer col s4 right-side'>
      <%= form_for(@developer, url: developer_path) do |f| %>
        <%= f.label :name, "First Name", class: "form-label" %>
        <%= f.text_field :name, id: "form-value"  %>
        <br>
        <%= f.label :last_name, "Last Name", class: "form-label" %>
        <%= f.text_field :last_name, id: "form-value"  %>
        <br>
        <%= f.label :email, class: "form-label" %>
        <%= f.text_field :email, id: "form-value"  %>
        <br>
        <%= select_tag "Specialties", options_from_collection_for_select(all_specialties, "id", "name"), id: "form-value"%>
        <br>
        <%= f.label :rate %>
        <%= f.number_field :rate %>
        <br>
        <%= f.label :picture %>
        <%= f.file_field :picture %>
        <br>
        <%= f.label :password, class: "form-label" %>
        <%= f.password_field :password, id: "form-value"  %>
        <br>
        <%= f.submit "Create Developer Account", class: "form-label", id: "form-button" %>
      <% end %>
    </div>

    <div class="col s1"><br></div>
  </div>
