<div class='container form-font new-contractor'>
  <%= form_for(@contractor, url: contractor_path) do |f| %>
    <%= f.label :company_name, "Company Name"%>
    <%= f.text_field :company_name, id: "form-value" %>
    <br>
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name, id: "form-value" %>
    <br>
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name, id: "form-value" %>
    <br>
    <%= f.label :email %>
    <%= f.text_field :email, id: "form-value" %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password, id: "form-value" %>
    <br>
    <%= f.submit "Create Contractor Account", id: "form-button" %>
  <% end %>
</div>