<div class="contain">
  <h1><%= @project.title %></h1>
  <h3><%=("Status: " + @project.status) if current_contractors_project?(@project)%></h3>
  <h3>Created At: <%= @project.created_at.to_formatted_s(:long)  %></h3>
  <h3>Last Updated: <%= @project.updated_at.to_formatted_s(:long) %></h3>
  <h3>Description: <%= @project.description %></h3>
  <br>

  <table class="striped responsive-table" id="checkout-table">
    <thead>
      <tr>
          <th data-field="developer_name">Name</th>
          <th data-field="developer_specialty">Specialty</th>
          <th data-field="developer_rate">Rate</th>
          <th data-field="developer_tags">Tags</th>
          <th data-field="developer_remove">Remove from Project</th>
      </tr>
    </thead>

    <tbody>
      <% @project.developers.each do |developer| %>
        <tr>
          <td><%= link_to developer.name, developer_path(developer) %></td>
          <td><%= developer.specialty.name %></td>
          <td><%= developer.rate %></td>
          <td><%= developer.tag_name_list.join(", ") %></td>
          <td><%= link_to("Remove #{developer.name}", contractor_project_remove_dev_path(@project, dev: developer.id),
            method: :delete) if current_contractors_project?(@project) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if current_contractors_project?(@project) %>
    <br>
      <% if @project.status == "Pending" %>
        <%= link_to "Submit Payment", contractor_project_payment_path(@project), id: "checkout-button" %>
      <% end %>
    <br>

    <h3>Total Developer Rate/Hour: $<%= @project.total %></h3>
    <h3>Hours Per Developer: <%= @project[:dev_hours] %></h3>
    <h1 id="final-cost"><strong>Final Project Cost: $<%= (@project[:dev_hours] * @project.total) %></strong></h1>
  <% end %>
</div>
