<nav>
  <div class="nav-wrapper brown navbar-font">
    <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <a href="/" class="brand-logo center" id="normal-brand-logo">Hire My Tribe</a>

    <ul class="side-nav" id="mobile-demo">
      <li>
        <%= link_to "View Account: #{current_contractor.first_name}", contractor_path, class: "sidebar-font-profile" if current_contractor %>
        <%= link_to "View Account: #{current_developer.name}", developer_path, class: "sidebar-font-profile" if current_developer %>
      </li>
      <li><%= link_to "Browse Developers", developers_path %></li>
      <li><%= link_to "Browse Contractors", developers_path %></li>
      <li><%= link_to "Current Tribe", tribe_path unless current_developer %></li>
      <li class="divider"></li>
      <li><%= login_or_logout("sidebar-log") %></li>
   </ul>

    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><%= login_or_logout %></li>
      <li id="navbar-font">
        <%= link_to "View Account: #{current_contractor.first_name}", contractor_path, class: "navbar-font-profile", id: "navbar-font" if current_contractor %>
        <%= link_to "View Account: #{current_developer.name}", developer_path, class: "navbar-font-profile", id: "navbar-font" if current_developer %>
      </li>
    </ul>

    <ul id="nav-mobile" class="right hide-on-med-and-down navbar-font">
      <li><a class="dropdown-button" id="dropdown-font" data-activates="dropdown1">Browse Developers</a></li>
      <li id="navbar-font"><%= link_to "Browse Contractors", developers_path, id: "navbar-font" %></li>
      <li id="navbar-font"><%= link_to "Current Tribe", tribe_path, id: "navbar-font" unless current_developer %></li>
    </ul>

  </div>
</nav>

<ul id="dropdown1" class="dropdown-content navbar-font">
  <li><%= link_to "All Developers", developers_path %></li>
  <li class="divider"></li>
  <% @specialties.each do |specialty| %>
    <li> <%= link_to "#{specialty.name} Developers", specialty_path(specialty) %> </li>
    <li class="divider"></li>
  <% end %>
</ul>
