<h2>Account Deactivation</h2>
<br>

<h3>Please enter your password to confirm. Your account, <%= current_contractor.email %>, will be deactivated. You will need to contact an administrator to reactivate your account.</h3>
<br>

<%= form_for(current_contractor, url: deactivate_contractor_path) do |f| %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Deactivate Account" %>

<% end %>

<%= link_to "Cancel", contractor_path %>