<div class="container center amatic-font" style="font-size: 4em;">
  <%= image_tag( @contractor.logo , height: "100px", id: "contractor-#{@contractor.id}-logo") %>
  <%= "Company Name: " + @contractor.company_name unless @contractor.company_name.empty? %>
  <br>

  <%= "Name: " + @contractor.first_name + " " + @contractor.last_name %>
  <br>

  <%= @contractor.projects.each do |project| %>
    <%= link_to "#{project.title}", project_path(project) %>
  <% end %>
  <br>

  <%= "Description: " + @contractor.bio %>
</div>
