<div class="container center amatic-font" style="font-size: 4em;">
  <%= image_tag( @contractor.logo , height: "100px", id: "contractor-#{@contractor.id}-logo") %>

  <%= "Company Name: " + @contractor.company_name unless @contractor.company_name.empty? %>
  <br>

<%= "Name: " + @contractor.first_name + " " + @contractor.last_name %>
<br>

  <%= link_to "Projects", contractor_projects_path, class: "row waves-effect waves-light btn-large", id: "signup-button", style: "font-size: 60px;" %>
  <br>

  <%= link_to "Logout", logout_path, method: :delete, class: "row waves-effect waves-light btn-large", id: "signup-button", style: "font-size: 60px;"%>
  <br>

  <%= "Description: " + @contractor.bio %>
  <br>

  <%= link_to "Edit Account Information", edit_contractor_path %>
  <br>

  <%= link_to "Deactivate Account", deactivate_account_path, style: "color: red" %>

</div>
