<!DOCTYPE html>
<html>
<head>
  <title>HireMyTribe</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</head>
<body>
  <div class='amatic-font'>
  <%= render partial: "navbars/navbar"%>
  <div class="left-side">
    <% flash.each do |type, msg| %>
      <h3><%= msg %></h3>
    <% end %>
  </div>
        <%= yield %>
  </div>

</body>
</html>
